<body>

<div class="bootstrap-iso">

<div class="titlebar-sm w-100">

    <div class="container-fluid titlecontents-sm">  

        <div class="row titlerow-sm">

            <div class="col-12-sm">
                <span class="titleitem-sm">
                    <img class="menubarlogosm" src="static/page_header/Encore-Logo-MenuBar.jpg">
                </span>
            </div> <!-- close <div class="col"> -->
            
        </div>
        <div class="row titlerow-sm">
            <div class="col-2-sm">
                <div class="titleitem-sm titleitem-text-sm">
                    <a class="enchoverlink" href="/">Our Story</a>
                </div>
            </div> <!-- close <div class="col"> -->
        </div>
        <div class="row titlerow-sm">
            <div class="col-2-sm">
                <div class="titleitem-sm titleitem-text-sm">
                    <a class="enchoverlink" href="parts">Products</a>
                </div>                
            </div> <!-- close <div class="col"> -->
        </div>
        <div class="row titlerow-sm">

            <div class="col-2-sm">
                <div class="titleitem-sm titleitem-text-sm">
                    <a class="enchoverlink" href="contact">Contact</a>
                </div>                
            </div> <!-- close <div class="col"> -->

        </div> <!-- <div class="row encrow"> -->
        
        
    </div>

    
    
</div>

<div class="titlebar">

    <div class="container-fluid titlecontents">  
    
        <!-- Our Story -->
        <div class="row titlerow">
            <div class="col-2-sm">
                <span class="titleitem">
                    <img class="menubarlogo" src="static/page_header/Encore-Logo-MenuBar.jpg">
                </span>
            </div> <!-- close <div class="col"> -->
            <div class="col-1-sm">
                <div class="titleitem titleitemtext">
                    |
                </div>
            </div> <!-- close <div class="col"> -->
            <div class="col-2-sm">
                <div class="titleitem titleitemtext">
                    <a class="enchoverlink" href="/">Our Story</a>
                </div>
            </div> <!-- close <div class="col"> -->
            <div class="col-1-sm">
                <div class="titleitem titleitemtext">
                    
                </div>
            </div> <!-- close <div class="col"> -->
            <div class="col-2-sm">
                <div class="titleitem titleitemtext">
                    <a class="enchoverlink" href="parts">Products</a>
                </div>                
            </div> <!-- close <div class="col"> -->
            <div class="col-1-sm">
                <div class="titleitem titleitemtext">
                    
                </div>
            </div> <!-- close <div class="col"> -->
            <div class="col-2-sm">
                <div class="titleitem titleitemtext">
                    <a class="enchoverlink" href="stores">In Stores</a>
                </div>                
            </div> <!-- close <div class="col"> -->
            <div class="col-1-sm">
                <div class="titleitem titleitemtext">
                    
                </div>
            </div> <!-- close <div class="col"> -->
            <div class="col-2-sm">
                <div class="titleitem titleitemtext">
                    <a class="enchoverlink" href="contact">Contact</a>
                </div>                
            </div> <!-- close <div class="col"> -->
            <div class="col-1-sm">
                <div class="titleitem titleitemtext">
                    
                </div>
            </div> <!-- close <div class="col"> -->

        </div> <!-- <div class="row encrow"> -->
    </div>

    </div> <!-- close <div class="titlebarinner"> -->
    
    <div class="titlefade2"><br><br><br></div>
        
</div>


</div> <!-- <div class="bootstrap-iso"> -->